.delete-button {
    color: red;
    background-color: transparent;
    border: transparent;
}

.new-schema-url {
    text-decoration: none;
    color: white;
}

.new-schema-url:hover {
    color: white;
}

.disabled {
    pointer-events: none;
}