body {
    margin: 0;
}

main {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form-container {
    border: 1px solid #dbdbdb;
    border-radius: 5px;
    padding: 5rem 7rem;
}

.login-title {
    text-align: center;
    font-size: 2rem;
    font-weight: 400;
}

.button-container {
    display: flex;
    justify-content: flex-end;
}