{% extends "base.html" %}
{% load static %}
{% block title %}Edit schema{% endblock %}
{% block extra_head %}
    <link rel="stylesheet" href='{% static "css/schemas.css" %}'>
{% endblock %}
{% block content %}

    <div class="container m-4">
    <div class="row">
        <h2 class="col-8">Data sets</h2>
        <form method="post" class="col-4 row container" id="create-dataset">
            {% csrf_token %}
            <div class="container">
                <label for="row-count" class="col-2 col-form-label">Rows: </label>
                <input type="text" class="me-2 col-3" id="row-count">
                <input type="submit" class="col-6 button btn-success btn-sm"
                       value="Generate data">
            </div>
        </form>
    </div>
    <div>
    <div class="container">
        <table class="table table-bordered">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Title</th>
                <th scope="col">Status</th>
                <th scope="col">Actions</th>
            </tr>
            </thead>
            {% for dataset in datasets %}
                <tr>
                    <th scope="row" class="col-1">{{ forloop.counter }}</th>
                    <td class="col-3">{{ dataset.created_at |date:'Y-m-d' }}</td>
                    {% if dataset.status == True %}
                        <td class="col-3"><span class="badge bg-success">Ready</span></td>
                    {% endif %}
                    {% if dataset.status == False %}
                        <td class="col-3"><span class="badge bg-secondary">Processing</span></td>
                    {% endif %}
                    <td class="col-3">
                        {% if dataset.file %}
                            <a href="{{ dataset.file.url }}" class="mx-2">Download</a>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js"
            integrity="sha512-bZS47S7sPOxkjU/4Bt0zrhEtWx0y0CRkhEp8IckzK+ltifIIE9EMIMTuT/mEzoIMewUINruDBIR/jJnbguonqQ=="
            crossorigin="anonymous"></script>
    <script src={% static 'scripts/editSchema.js' %}></script>
{% endblock %}
