{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Login</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/login.css' %}">

</head>
<body>
<main class="container">
    <div class="form-container row">
        <div class="login-title mb-5">Login</div>
        <form action="{% url 'login' %}" method="POST">
            {% csrf_token %}
            <div class="form-group my-3">
                <input id="id_username" name="username" class="form-control" type="text" placeholder="Username"/>
            </div>
            <div class="form-group mb-3">
                <input id="id_password" name="password" class="form-control" type="password" placeholder="Password"/>
            </div>
            <div class="button-container">
                <div class="form-group mb-3 ml-5">
                    <button type="submit" class="btn btn-primary">Login</button>
                </div>
            </div>
        </form>
        {% if form.errors %}
            <div class="alert alert-danger alert-class">Your username and password didn't match. Please try again</div>
        {% endif %}
    </div>


    <!-- Js for bootstrap-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf"
            crossorigin="anonymous"></script>
</main>
</body>
</html>