{% extends "base.html" %}
{% load static %}
{% block title %}Add schema{% endblock %}
{% block extra_head %}
    <link rel="stylesheet" href='{% static "css/schemas.css" %}'>
{% endblock %}
{% block content %}
    <form id="new-schema-form" action="#" method="post">
        {% csrf_token %}
        <div class="container m-4">
            <div class="row">
                <h2 class="col-11">New schema</h2>
                <input id="callback_submit_btn" type="submit" class="col-1 button btn-primary btn-sm"
                       value="Submit">
            </div>
            <div class="row mb-4">
                <div class="col-6">
                    <label for="schema-name" class="form-label">Name</label>
                    <input class="form-control" type="text" id="schema-name">
                </div>
            </div>
            <div class="row mb-4">
                <div class="col-6">
                    <label for="column-separator" class="form-label">Column Separator</label>
                    <select class="form-select" type="" id="column-separator">
                        <option selected value=",">Comma(,)</option>
                    </select>
                </div>
            </div>
            <div class="row mb-4">
                <div class="col-6">
                    <label for="string-character" class="form-label">String character</label>
                    <select class="form-select" id="string-character">
                        <option selected value='"'>Double quote(")</option>
                    </select>
                </div>
            </div>
        </div>
        <!-- SCHEMA COLUMNS -->
        <div class="container m-5">
            <div class="row">
                <h2 class="col">Schema columns</h2>
            </div>
            <div id="column-added-data">

            </div>
            <div id="column-add-form" class="row mb-4 py-3 border">
                <div class="col-4">
                    <label for="columnName" class="form-label">Column name</label>
                    <input class="form-control column-input" type="text" id="columnName" name="columnName">
                </div>
                <div class="col-3">
                    <label for="columnType" class="form-label">Type</label>

                    <select class="form-select column-input type-select" id="columnType" name="columnType">
                        <option selected value='integer'>Integer</option>
                        <option value='full_name'>Full name</option>
                        <option value='domain_name'>Domain name</option>
                        <option value='job'>Job</option>
                        <option value='email'>Email</option>
                        <option value='phone_number'>Phone number</option>
                        <option value='company'>Company</option>
                        <option value='address'>Address</option>
                        <option value='text'>Paragraph</option>
                        <option value='date'>Date</option>
                    </select>
                </div>
                <div class="range-class col-2 row">
                    <div class="col-6">
                        <label for="rangeFrom" class="form-label">From</label>
                        <input class="form-control column-input" type="text" id="rangeFrom" name="rangeFrom">
                    </div>
                    <div class="col-6">
                        <label for="rangeTo" class="form-label">To</label>
                        <input class="form-control column-input" type="text" id="rangeTo" name="rangeTo">
                    </div>
                </div>
                <div class="col-2">
                    <label for="columnOrder" class="form-label">Order</label>
                    <input class="form-control column-input" type="text" id="columnOrder" name="order">
                </div>
                <div class="row my-3 mx-1">
                    <button id="add-column-button" type="button" class="col-1 button btn-primary btn-sm">Add column
                    </button>
                </div>
            </div>
        </div>
    </form>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js"
            integrity="sha512-bZS47S7sPOxkjU/4Bt0zrhEtWx0y0CRkhEp8IckzK+ltifIIE9EMIMTuT/mEzoIMewUINruDBIR/jJnbguonqQ=="
            crossorigin="anonymous"></script>
    <script src="{% static 'scripts/newSchema.js' %}"></script>
{% endblock %}

