{% extends "base.html" %}
{% load static %}
{% block title %}Schemas{% endblock %}
{% block extra_head %}
    <link rel="stylesheet" href="{% static 'css/schemas.css' %}">
{% endblock %}
{% block content %}
    <div class="container my-3 mx-5">
        <div class="row my-4">
            <div class="col-9 fs-3 text fw-bold">Data schemas</div>
            <button class="col-1 button btn-success btn-sm">
                <a class="new-schema-url" href="{% url 'new-schema' %}">New schema</a>
            </button>
        </div>
        <div class="row">
            <div class="col-10">
                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Title</th>
                        <th scope="col">Modified</th>
                        <th scope="col">Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for schema in schemas %}
                        <tr>
                            <th scope="row" class="col-1">{{ forloop.counter }}</th>
                            <td class="col-3">{{ schema.name }}</td>
                            <td class="col-3">{{ schema.updated_at |date:'Y-m-d' }}</td>
                            <td class="col-3">
                                <a href="{% url 'edit-schema' pk=schema.pk %}" class="mx-2">Edit scheme</a>
                                <button type="button" class="delete-button">Delete</button>
                            </td>
                        </tr>
                    {% endfor %}

                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js"
            integrity="sha512-bZS47S7sPOxkjU/4Bt0zrhEtWx0y0CRkhEp8IckzK+ltifIIE9EMIMTuT/mEzoIMewUINruDBIR/jJnbguonqQ=="
            crossorigin="anonymous"></script>
    <script src="{% static 'scripts/schemas.js' %}"></script>
{% endblock %}
